<div class="block1">
    <form action="process" method="post">
        <h1>Try gpt2, made this in 5 min, dont complain about problems or look, i dont care, i want to sleep</h1>
        <textarea rows="5" cols="200" name="seed"></textarea>
        <br />
        <br />
        <input type="number" name="length"/>
        <br />
        <br />
        <button type="submit">submit</button>
    </form>


</div>